In [104]:
import numpy as np
import pandas as pd

In [105]:
from sklearn.datasets import load_boston

In [106]:
boston = load_boston()

In [107]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [108]:
data = boston.data
#данные о недвижимости, которые записали в переменную data

In [109]:
data.shape
#размер переменной data

(506, 13)

In [110]:
data

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

Target - величина, которую требуется предсказать

In [111]:
target = boston.target

In [112]:
feature_names = boston.feature_names
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

Создадим 2 датафрейма X и Y.

In [113]:
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [114]:
X.shape

(506, 13)

In [115]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [116]:
y = pd.DataFrame(target, columns = ['price'])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [117]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [118]:
from sklearn.model_selection import train_test_split

In [119]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [120]:
from sklearn.linear_model import LinearRegression

In [121]:
lr = LinearRegression()
#Модель линейной регрессии по объекту $x = (x_1, \dots, x_n)$ предсказывает значение целевой переменной, используя линейную функцию  $$f(x) = w_0 + w_1 \cdot x_1 + \dots + w_n \cdot x_n.$$  Задача такой модели - в процессе обучения подобрать эти коэффициенты $w_i$ так, чтобы значение этой функции было как можно более близко к реальному целевому значению $y$ объекта $x$.

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [122]:
lr.fit(X_train, y_train)

LinearRegression()

In [123]:
y_pred = lr.predict(X_test)

In [124]:
check_test = pd.DataFrame({'y_test': y_test['price'], 'y_pred': y_pred.flatten()}, columns=['y_test', 'y_pred'])

In [125]:
check_test.head(10)

     y_test     y_pred
173    23.6  28.534695
274    32.4  36.618701
491    13.6  15.637511
72     22.8  25.501450
452    16.1  18.709673
76     20.0  23.164716
316    17.8  17.310110
140    14.0  14.077364
471    19.6  23.010644
500    16.8  20.542235

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [126]:
from sklearn.metrics import r2_score

In [140]:
R2 = r2_score(check_test['y_test'], check_test['y_pred'])
print(R2)

0.7261570836552467

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

In [128]:
from sklearn.ensemble import RandomForestRegressor

Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.

In [129]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy

In [132]:
clf.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [133]:
check_test_rfc = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": clf.predict(X_test).flatten()
})

check_test_rfc.head(10)

     y_test     y_pred
173    23.6  22.633172
274    32.4  31.401489
491    13.6  16.604033
72     22.8  23.680828
452    16.1  17.092412
76     20.0  21.596315
316    17.8  19.973690
140    14.0  14.881983
471    19.6  21.315430
500    16.8  21.190421

In [141]:
R2_rfc = r2_score(check_test_rfc['y_test'], check_test_rfc['y_pred'])
print('RandomForest R2: ', R2_rfc)
print('LinearRegression R2: ', R2)

RandomForest R2:  0.8664689291628167
LinearRegression R2:  0.7261570836552467

In [ ]:
#так как значение R2 в RandomForest ближе к 1, то модель RandomForest работает лучше